.container {
    width: 90%;
    margin: 0 auto; 
    border: black solid 1px;
    padding: 5px;
}

header {
    width: 100%;
    background: yellow;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
}